<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GearInch copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GearInch copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GearInch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B4C54D51488730500288A15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B4C55011488730600288A15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BF8014714BD1A1600932F7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BF8016C14BD1B5900932F7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
